<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flappy Bird</title>
</head>

<body>
    <div class="box">
        <h1 class="page_title">About the Website</h1>

        <p class="about_text">Hello! By using this website, you can play Flappy Bird on the SenseHat.</p>
        <p class="about_text">Oh? You don't know what Flappy Bird and SenseHat is? Allow me to explain. Flappy Bird is a game where you control a bird who doesn't know how to flap on its own. When you tell it to flap, it flaps. When you don't tell it to do anything, he will fall due to gravity. The goal of the game is to help him go through as many pipes as possible.</p>
        <p class="about_text">Now, SenseHat is a component that you can add to a raspberry pi computer. It has a 8x8 led screen and a joystick.</p>
        
        <a class="link" href="/">Back</a>
    </div>    
</body>
</html>