<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flappy Bird</title>
</head>

<body>
    <h1>SenseHat Flappy Bird</h1>

    <div class="game">
        <form class="submit" action="/information" method="post">
            <input class="start_button" type="submit" value="Start Game">
        </form>
    </div>

    <a href="/leaderboard">Leaderboard/Scores</a>
</body>
</html>