<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flappy Bird</title>
</head>

<body>
    <h1>SenseHat Flappy Bird (Square) Leaderboards</h1>

    {% for key in leaderboard %}
        {% player_score = leaderboard.get(key) %}
        <div class="names_scores">
            <p>{{player_score[0]}}: {{player_score[1]}}</p>
         </div>
    {% endfor %}
    
    <a href="/game">Back to the Game</href>
            
</body>
</html>