<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flappy Bird</title>
</head>

<body>
    <div class="box">
        <h1>SenseHat Flappy Bird Leaderboards</h1>
        <p>Note: Scores do not save as of right now.</p>

        {% for key in score_list %}
            <div class="names_scores">
                <p>{{score_list.get(key)[0]}}: {{score_list.get(key)[1]}}</p>
            </div>
        {% endfor %}
        
        <a class="link" href="/">Back to the Game</href>
    </div>        
</body>
</html>